{% extends "base.html" %}
{% block viewport %}width=1100{% endblock %}
{% block body_id %}forge{% endblock %}
{% block body_classes %}body_class sandiego_chrome legacy_chrome{% endblock %}
{% block forge_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/forge.css') }}">{% endblock %}
{% block title %}{{ p.name }} / Discussion / {{ forum.name }}{% endblock %}
{% block content %}
<section id="page-body" class="neighborhood-Projects project-{{ p.shortname }} mountpoint-discussion">
<div class="l-two-column-page">
  <div class="l-gutter"></div>
  <div class="l-content-column">
    <div class="grid-20 pad">
      <h2 class="dark title"><span>{{ forum.name }}</span></h2>
      <div>
        <div class="pagination_size">
          <div class="page_list">
            {% for pg in range(1, pages + 1) %}
            {% if pg == page %}{{ pg }}{% else %}<a href="?page={{ pg }}">{{ pg }}</a>{% endif %}
            {% endfor %}
            (Page {{ page }} of {{ pages }})
          </div>
          <div class="clear"></div>
        </div>
        <div id="forum_threads">
          <table class="forum-list clear">
            <thead>
              <tr><th class="topic">Topic</th><th>Posts</th><th>Views</th><th>Last Post</th></tr>
            </thead>
            <tbody class="forum-list">
              {% for th in threads %}
              <tr>
                <td class="topic">
                  <h3><a href="/p/{{ p.shortname }}/discussion/{{ forum.shortname }}/thread/{{ th.thread_id }}/">{{ th.subject }}</a></h3>
                  <span>By {% set _u = user_href(th.creator) %}{% if _u %}<a href="/u/{{ _u }}/profile/" class="user-mention">{{ th.creator }}</a>{% else %}{{ th.creator }}{% endif %} </span> on {{ th.created }}
                </td>
                <td>{{ th.posts }}</td>
                <td>{{ fmt_int(th.views) }}</td>
                {% set _la, _ld = thread_last_post(forum.shortname, th.thread_id, th.last_author, th.last_date) %}<td>{% if _la %}By {% set _u = user_href(_la) %}{% if _u %}<a href="/u/{{ _u }}/profile/" class="user-mention">{{ _la }}</a>{% else %}{{ _la }}{% endif %} <br/>on {{ _ld }}{% else %}&mdash;{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
