{% extends "base.html" %}
{% block viewport %}width=1100{% endblock %}
{% block body_id %}forge{% endblock %}
{% block body_classes %}body_class sandiego_chrome legacy_chrome l-allow-natural-width{% endblock %}
{% block forge_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/forge.css') }}">{% endblock %}
{% block head_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/wiki.css') }}">{% endblock %}
{% block title %}{{ p.name }} / Wiki / Browse{% endblock %}
{% block content %}
<section id="page-body" class="neighborhood-Projects project-{{ p.shortname }} mountpoint-wiki">
<div class="l-two-column-page">
  <div class="l-side-column l-has-sidebar">
    <div class="side-column-contents">
      <div id="sidebar">
        <ul class="sidebarmenu">
          <li><a class="icon" href="/p/{{ p.shortname }}/wiki/" title="Wiki Home"><i class="fa fa-home"></i> <span>Wiki Home</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-gutter"></div>
  <div class="l-content-column">
    <div class="grid-20 pad">
      <h2 class="dark title"><span>Browse</span></h2>
      <div class="pad">
        <p>Browse every page in the {{ p.name }} wiki.</p>
        <table class="wiki-pages">
          <thead>
            <tr><th>Page</th><th>Last Modified</th></tr>
          </thead>
          <tbody>
            {% for page in pages %}
            <tr>
              <td><a href="/p/{{ p.shortname }}/wiki/{{ page.title }}/">{{ page.title }}</a></td>
              <td>{{ page.mod_date }}</td>
            </tr>
            {% else %}
            <tr><td>No wiki pages.</td><td></td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
