{% extends "base.html" %}
{% block title %}404 | Ohio.gov | Official Website of the State of Ohio{% endblock %}
{% block content %}
<article class="odx-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center margin-top-lg margin-bottom-lg">
                <h1 class="odx-content__title">404 — Page not found</h1>
                <p>The link you followed may be outdated or the page may have moved.</p>
                <p><a class="btn btn-primary" href="{{ url_for('index') }}">Return Home</a></p>
            </div>
        </div>
    </div>
</article>
{% endblock %}
