/* Amazon Ember faces as served by amazon.jobs (see NOTICE.md for
   attribution; files under static/fonts/ are redistributed for the
   benchmark mirror only). */
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/amazonember_lt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/amazonember_rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/amazonember_bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/amazonember_rgit.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/amazonember_bdit.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "jobsicons";
  src: url("../fonts/jobsicons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
