{% extends "base.html" %}

{% block content %}
<h1>About Y Combinator</h1>
<p>Y Combinator (YC) is a technology startup accelerator launched in March 2005. It has been used to launch more than 4,000 companies, including Airbnb, Coinbase, Cruise, DoorDash, Dropbox, Instacart, Quora, PagerDuty, Reddit, Stripe, and Twitch.</p>

<h2>The YC Model</h2>
<p>YC created a new model for funding early stage startups. Twice a year we invest in a large number of startups.</p>

<h2>Our Mission</h2>
<p>Our mission is to enable more people to start startups. We believe that startups are a great way to solve problems and create value in the world.</p>
{% endblock %}
