<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker News</title>
    <style>
        body { background-color: #f6f6ef; font-family: Verdana, Geneva, sans-serif; font-size: 10pt; margin: 0; padding: 0; }
        .hn-table { width: 85%; margin: 8px auto; border-collapse: collapse; background-color: #f6f6ef; }
        .hn-header { background-color: #ff6600; padding: 2px; }
        .hn-item { padding: 5px; }
        .hn-rank { text-align: right; color: #828282; width: 30px; padding-right: 5px; vertical-align: top; }
        .hn-title { font-size: 10pt; color: #000; text-decoration: none; }
        .hn-domain { font-size: 8pt; color: #828282; text-decoration: none; }
        .hn-subtext { font-size: 7pt; color: #828282; padding-bottom: 5px;}
        .hn-subtext a { color: #828282; text-decoration: none; }
        .hn-subtext a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <table class="hn-table">
        <tr class="hn-header">
            <td>
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 18px; padding-right: 4px;">
                            <img src="{{ url_for('static', filename='icons/favicon.ico') }}" width="18" height="18" style="border:1px white solid;">
                        </td>
                        <td style="line-height: 12pt; height: 10px;">
                            <span class="pagetop">
                                <b style="color: #222;">Hacker News</b>
                                <a href="{{ url_for('index') }}" style="color: #000; text-decoration: none; font-size: 10pt; margin-left: 10px;">new</a> | 
                                <a href="#" style="color: #000; text-decoration: none; font-size: 10pt;">past</a> | 
                                <a href="#" style="color: #000; text-decoration: none; font-size: 10pt;">comments</a> | 
                                <a href="#" style="color: #000; text-decoration: none; font-size: 10pt;">ask</a> | 
                                <a href="#" style="color: #000; text-decoration: none; font-size: 10pt;">show</a> | 
                                <a href="#" style="color: #000; text-decoration: none; font-size: 10pt;">jobs</a> | 
                                <a href="#" style="color: #000; text-decoration: none; font-size: 10pt;">submit</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr class="athing">
                        <td class="hn-rank">1.</td>
                        <td class="votelinks"><center><a href="#"><div style="width:10px;height:10px;border:0px;margin:3px 2px 6px;">&#9650;</div></a></center></td>
                        <td class="title"><a href="#" class="hn-title">Show YC: A complete mirror of YC website in WebHarbor</a> <span class="sitebit comhead"> (<a href="#" class="hn-domain">github.com/webharbor</a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="hn-subtext">342 points by <a href="#">yc_fan</a> 4 hours ago | <a href="#">hide</a> | <a href="#">156 comments</a></td>
                    </tr>
                    
                    <tr class="athing">
                        <td class="hn-rank">2.</td>
                        <td class="votelinks"><center><a href="#"><div style="width:10px;height:10px;border:0px;margin:3px 2px 6px;">&#9650;</div></a></center></td>
                        <td class="title"><a href="#" class="hn-title">PostgreSQL 17 Released</a> <span class="sitebit comhead"> (<a href="#" class="hn-domain">postgresql.org</a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="hn-subtext">285 points by <a href="#">db_admin</a> 3 hours ago | <a href="#">hide</a> | <a href="#">92 comments</a></td>
                    </tr>
                    
                    <tr class="athing">
                        <td class="hn-rank">3.</td>
                        <td class="votelinks"><center><a href="#"><div style="width:10px;height:10px;border:0px;margin:3px 2px 6px;">&#9650;</div></a></center></td>
                        <td class="title"><a href="#" class="hn-title">Ask HN: What is the best language to learn in 2026?</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="hn-subtext">150 points by <a href="#">newbie_coder</a> 5 hours ago | <a href="#">hide</a> | <a href="#">214 comments</a></td>
                    </tr>
                    
                    <tr class="athing">
                        <td class="hn-rank">4.</td>
                        <td class="votelinks"><center><a href="#"><div style="width:10px;height:10px;border:0px;margin:3px 2px 6px;">&#9650;</div></a></center></td>
                        <td class="title"><a href="#" class="hn-title">Launch YC: OpenClaw</a> <span class="sitebit comhead"> (<a href="#" class="hn-domain">ycombinator.com</a>)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td class="hn-subtext">98 points by <a href="#">founder123</a> 6 hours ago | <a href="#">hide</a> | <a href="#">35 comments</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
