{% extends "base.html" %}
{% block title %}All departments{% endblock %}
{% block nav_departments %} active{% endblock %}
{% block page_scripts %}
    <script src="{{ url_for('static', filename='js/data_agency.min.js') }}" defer></script>
{% endblock %}
{% block main %}
<div class="section-understated lineart bg-s1" style="background: url('{{ url_for('static', filename='images/lineart/departments-lineart.svg') }}') no-repeat right / auto;">
  <div class="container p-y-md">
<nav aria-label="You are here" class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li class="active">All departments</li>
  </ol>
</nav>
<h1 class="m-t-0 color-p2-darker">All departments</h1>
  </div>
</div>

<div class="container-lg p-b-lg pt-lg-5 px-0">
  <div class="row">
    <div class="col-12 col-lg-3 pb-lg-5 sticky-6 h-100 p-b-md">
<details class="side-navigation-toggle" aria-label="Toggle side navigation" aria-expanded="false" aria-controls="side-nav-content">
  <summary><span class="container d-block"> Departments </span></summary>
</details>
<div class="container" id="side-nav-content">
  <nav class="side-navigation sticky-6 overflow-auto" id="side-navigation" style="max-height:606px">
    <a href="javascript:;" aria-hidden="true" class="d-none">All departments</a>
    <ul class="list-navigation">
      <li><a href="/departments/">Departments<span class="sr-only">landing page</span></a></li>
      <li><a href="/departments/all/" class="active landing" aria-current="page" tabindex="-1">All departments</a></li>
      <li><a href="/departments/list/">Departments list</a></li>
    </ul>
  </nav>
</div>
</div>
    <div class="col-12 col-lg-9">
      <div class="container">
        {% with noun="departments", singular="department", searchbox_name=True %}{% include "_directory_filter.html" %}{% endwith %}
        <cagovhome-filterlist
          data-search-input-id="searchbox"
          data-result-count-query=".items-count"
          data-filter-storage-key="agency"
          data-row-filter-key="AgencyId"
          data-filter-trigger-selector='input[name="AgencyTags"]'
          role="list">
        {% for dept in departments %}
          <div data-row-key="{{ dept.id }}" class="pos-rel" role="listitem">
            <div class="d-flex">
              <div class="dep-image-wrapper">
                {% if dept.logo %}
                <img src="{{ url_for('static', filename=dept.logo) }}" class="img-fluid" loading="lazy" alt="{{ dept.name }} logo" />
                {% endif %}
              </div>

              <div class="flex-grow-1">
                <h3 class="lead bold m-t-0 m-b">
                  <a href="{{ department_url(dept) }}"> {{ dept.name }}</a>
                </h3>
                {% if dept.description %}<p class="department-description">{{ dept.description }}</p>{% endif %}
                {% if dept.topics %}
                <p class="font-size-14 m-t-md ">
                  Topics: {% for t in dept.topic_rows %}<a href="{{ topic_url(t) }}" class="py-1">{{ t.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
                {% endif %}
              </div>
            </div>
          </div>
          <hr class="m-y-md" data-row-key="{{ dept.id }}" />
        {% endfor %}
        </cagovhome-filterlist>
      </div>
    </div>
  </div>
</div>
{% endblock %}
