{% extends "base.html" %}
{% block title %}Departments list{% endblock %}
{% block nav_departments %} active{% endblock %}
{% block page_scripts %}
    <script src="{{ url_for('static', filename='js/data_agency.min.js') }}" defer></script>
{% endblock %}
{% block main %}
<div class="section-understated lineart bg-s1" style="background: url('{{ url_for('static', filename='images/lineart/departments-lineart.svg') }}') no-repeat right / auto;">
  <div class="container p-y-md">
<nav aria-label="You are here" class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li class="active">Departments list</li>
  </ol>
</nav>
<h1 class="m-t-0 color-p2-darker">Departments list</h1>
  </div>
</div>

<div class="container-lg p-b-lg pt-lg-5 px-0">
  <div class="row">
    <div class="col-12 col-lg-3 pb-lg-5 sticky-6 h-100 p-b-md">
<details class="side-navigation-toggle" aria-label="Toggle side navigation" aria-expanded="false" aria-controls="side-nav-content">
  <summary><span class="container d-block"> Departments </span></summary>
</details>
<div class="container" id="side-nav-content">
  <nav class="side-navigation sticky-6">
    <a href="javascript:;" aria-hidden="true" class="d-none">Departments list</a>
    <ul class="list-navigation">
      <li><a href="/departments/">Departments <span class="sr-only">landing page</span></a></li>
      <li><a href="/departments/all/">All departments</a></li>
      <li><a href="/departments/list/" class="active landing" aria-current="page" tabindex="-1">Departments list</a></li>
    </ul>
  </nav>
</div>
</div>
    <div class="col-12 col-lg-9">
      <div class="container">
        {% with noun="departments", singular="department", searchbox_name=True %}{% include "_directory_filter.html" %}{% endwith %}
        <cagovhome-filterlist
          data-search-input-id="searchbox"
          data-result-count-query=".items-count"
          data-filter-storage-key="agency"
          data-row-filter-key="AgencyId"
          data-filter-trigger-selector='input[name="AgencyTags"]'
          role="list">
        {% set ns = namespace(letter='') %}
        {% for dept in departments %}
        {% set letter = dept.list_name[0] | upper %}
        {% if letter != ns.letter %}
        {% if ns.letter %}
              </ul>
            </div>
            <hr />
          </div>
        {% endif %}
          <div class="row" role="listitem">
            <div class="col-lg-1">
              <h3 class="m-t-0" lang="en" translate="no">{{ letter }}</h3>
            </div>
            <div class="col-lg-11">
              <ul>
        {% set ns.letter = letter %}
        {% endif %}
                <li data-row-key="{{ dept.id }}">
                  <a href="{{ department_url(dept) }}">{{ dept.list_name }}</a>
                </li>
        {% if loop.last %}
              </ul>
            </div>
          </div>
        {% endif %}
        {% endfor %}
        </cagovhome-filterlist>
      </div>
    </div>
  </div>
</div>
{% endblock %}
