{% extends "base.html" %}
{% block allowed_query_params %}    <meta name="allowed-query-params" content="utm_campaign,utm_medium,utm_source" />
{% endblock %}
{% block head_extra %}
    <style>
  @media (min-width: 992px) {
    #head-search {
      display: none;
    }
  }
  @media (width >= 1200px) {
    div.la-fires-container {
      margin-top: -70px;
    }
  }
</style>
{% endblock %}
{% block title %}California State Portal{% endblock %}
{% block main %}
<div class="header-banner hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-auto py-5">
        <h1 class="color-white h2 mt-0 m-b-lg pe-lg-5">
          Find government services and information
        </h1>

        <form class="pos-rel" action="/search/" role="search">
          <span class="sr-only" id="ServiceSearch">Search for a service</span>
          <div class="d-flex">
            <input
              type="search"
              name="q"
              placeholder="Search CA.gov"
              aria-labelledby="ServiceSearch"
              class="height-50 rounded-4 border-0 flex-grow-1 p-l webkit-appearance-none" />
            <button
              type="submit"
              class="border-0 rounded-4 bg-white bg-gray-50-hover right-sm pos-rel width-50 webkit-appearance-none p-x-0">
              <span class="ca-gov-icon-search font-size-25 gray-900" aria-hidden="true"></span>
              <span class="sr-only">Submit</span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-6 m-0 p-0 my-auto">
        <img
          class="img-fluid d-none d-lg-block"
          loading="lazy"
          src="{{ url_for('static', filename='images/homepage/main-banner.svg') }}"
          style="aspect-ratio:604/440"
          alt="A California beach at sunset showing rock formations on the sand." />
      </div>
    </div>
  </div>
</div>

<div class="bg-p2-darkest section-primary">
  <div class="container p-y-lg">
    <h2 class="h3 mt-0">Popular services</h2>

    <div class="d-flex gap-3 flex-wrap">
      {% for service in popular_services %}
      <h3 class="m-a-0">
        <a class="btn btn-outline-light btn-hover rounded-5" href="{{ service_url(service) }}">{{ service.homepage_label or service.name }}</a>
      </h3>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container">
  <h2>Popular topics</h2>
  <div class="row">
    <div class="col-md-4 mb-4">
      <a href="/topics/dmv-auto/" class="link-grid"><h3 class="m-a-0 lead bold">DMV/Auto</h3></a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="/topics/personal-records/" class="link-grid"><h3 class="m-a-0 lead bold">Personal records</h3></a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="/topics/businesses/" class="link-grid"><h3 class="m-a-0 lead bold">Businesses</h3></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <a href="/topics/jobs/" class="link-grid"><h3 class="m-a-0 lead bold">Jobs and unemployment</h3></a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="/topics/assistance/" class="link-grid"><h3 class="m-a-0 lead bold">Social services</h3></a>
    </div>
    <div class="col-md-4 mb-4">
      <a href="/topics/taxes/" class="link-grid"><h3 class="m-a-0 lead bold">Taxes</h3></a>
    </div>
  </div>
  <div class="pt-2 p-b-lg">
    <a href="/topics/" class="btn btn-primary btn-lg transform-scale-1_05--hover transition-0_3 p-x-md rounded-5">View all topics</a>
  </div>
</div>

<!-- CA Highlights-->
<div class="container p-b-lg">
  <h2>California highlights</h2>
  <div class="row p-b-md">
    <div class="col-md-4">
      <article class="pos-rel h-100 d-flex flex-column transform-scale-1_05--hover transition-0_3">
        <figure class="pos-rel border-0 pb-5 mb-5 pb-xl-5 mb-xl-4 pb-lg-5 mb-lg-4 pb-md-4 mb-md-4">
          <img
            src="{{ url_for('static', filename='images/homepage/highlight-1.webp') }}"
            loading="lazy"
            class="img-fluid p-a pos-abs absolute-centered-x width-80pct square"
            alt="A light skinned white man and woman look at photography displays at an exhibit at the SF MOMA." />
        </figure>
        <div class="bg-white bg-gray-50-hover text-center p-t-xxl p-x-md p-b-md brd-solid-1 brd-gray-200 rounded-10 h-100">
          <h3 class="h4 m-b text-left">
            <a href="https://www.visitcalifornia.com/places-to-visit/" class="link-before no-underline">Places to visit</a>
          </h3>
          <p class="m-b text-left gray-900">
            Discover places to visit and learn about California's various
            regions and lively cities.
          </p>
        </div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="pos-rel h-100 d-flex flex-column transform-scale-1_05--hover transition-0_3">
        <figure class="pos-rel border-0 pb-5 mb-5 pb-xl-5 mb-xl-4 pb-lg-5 mb-lg-4 pb-md-4 mb-md-4">
          <img
            src="{{ url_for('static', filename='images/homepage/highlight-2.webp') }}"
            loading="lazy"
            class="img-fluid p-a pos-abs absolute-centered-x width-80pct square"
            alt="Waves flow out from an enclave surrounded by rock formations at Julia Pfeiffer Beach in the daytime." />
        </figure>
        <div class="bg-white bg-gray-50-hover text-center p-t-xxl p-x-md p-b-md brd-solid-1 brd-gray-200 rounded-10 h-100">
          <h3 class="h4 m-b text-left">
            <a href="https://www.parks.ca.gov/Find-a-Park" class="link-before no-underline">State parks</a>
          </h3>
          <p class="m-b text-left gray-900">
            Visit California's state parks. They offer diverse, natural,
            cultural, and recreational resources.
          </p>
        </div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="pos-rel h-100 d-flex flex-column transform-scale-1_05--hover transition-0_3">
        <figure class="pos-rel border-0 pb-5 mb-5 pb-xl-5 mb-xl-4 pb-lg-5 mb-lg-4 pb-md-4 mb-md-4">
          <img
            src="{{ url_for('static', filename='images/homepage/highlight-3.webp') }}"
            loading="lazy"
            class="img-fluid p-a pos-abs absolute-centered-x width-80pct square"
            alt="A green tent surrounded by redwood trees is pitched at a campsite in Big Basin Redwoods State Park." />
        </figure>
        <div class="bg-white bg-gray-50-hover text-center p-t-xxl p-x-md p-b-md brd-solid-1 brd-gray-200 rounded-10 h-100">
          <h3 class="h4 m-b text-left">
            <a href="https://www.reservecalifornia.com/" class="link-before no-underline">Camping reservations</a>
          </h3>
          <p class="m-b text-left gray-900">
            Book your next camping adventure. You can choose from 15,000
            campsites across 279 parks.
          </p>
        </div>
      </article>
    </div>
  </div>

  <div class="pt-4 p-b-lg">
    <a href="/about-california/" class="btn btn-primary btn-lg transform-scale-1_05--hover transition-0_3 p-x-md rounded-5">Learn more about California</a>
  </div>
</div>

<div class="section-primary topo-lines">
  <div class="container pt-4 p-b-md">
    <h2>California by the numbers</h2>
    <div class="row">
      {% for stat in stats %}
      <div class="col-md-4 mb-4">
        <div class="bg-primary text-center p-x-md p-a-md pos-rel h-100 rounded-4">
          <p class="text-4rem m-b-0"><span class="scroll-counter" data-counter-time="2000">{{ stat.value }}</span>{{ stat.value_suffix }}</p>
          <p class="lead mt-0">{{ stat.unit }}</p>
          <p class="text-left">{{ stat.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <div class="row">
    <div class="col-md-7 m-b-md">
      <div class="brd-solid-1 brd-gray-200 rounded-4 p-a">
        <!-- News list -->
        <h2 class="m-t">In the spotlight</h2><hr class="m-y-md" />
        {% for item in spotlight %}
        <h3 class="lead font-weight-700">
          <a href="{{ item.source_url }}">{{ item.title }}</a>
        </h3>
        <p>{{ item.display_date }}</p>
        {% if not loop.last %}<hr class="m-y-md" />{% endif %}
        {% endfor %}

        <hr class="m-y-md" />
        <!-- End News list  -->

        <p class="m-b-md">
          <a href="https://www.gov.ca.gov/newsroom/">View all news</a>
        </p>
      </div>
    </div>
    <div class="col-md-5 m-b-md">
      {% for official in officials %}
      <figure class="executive-profile{% if not loop.first %} m-t{% endif %}">
        <img src="{{ url_for('static', filename=official.seal) }}" loading="lazy" alt="{{ official.seal_alt }}" class="square" />
        <div class="executive-profile-body">
          {% if official.role != "Governor’s cabinet" %}<p>{{ official.role }}</p>{% endif %}
          <h3 class="executive-name">{{ official.name if official.name else official.role }}</h3>
          <p>California</p>
          <p>
            <a href="{{ official.link_url }}"> {{ official.link_label }} </a>
          </p>
        </div>
      </figure>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
