{% extends "base.html" %}
{% block title %}2025 Los Angeles Fires{% endblock %}
{% block main %}
<div class="section-understated lineart bg-s1" style="background: url('{{ url_for('static', filename='images/lineart/get-help-lineart.svg') }}') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="row">
      <div class="col-xl-8">
<nav aria-label="You are here" class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li class="active">2025 Los Angeles Fires</li>
  </ol>
</nav>
<h1 class="m-t-0 color-p2-darker">2025 Los Angeles Fires</h1>
        <p class="lead">Help and info for people affected by the wildfires</p>
        <p class="m-b-0">
          <a class="btn btn-primary btn-lg m-r-sm m-b" href="/topics/disaster-recovery/">Find services you need</a>
          <a class="btn btn-outline-primary btn-lg m-b cagov-external-link" href="https://www.ca.gov/lafires/track-progress/">Track LA’s progress<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section-understated">
  <div class="container p-t-lg p-b-lg">
    <h2 class="m-y-0 font-size-25">Top needs</h2>
    <div class="row">
      <div class="col-lg-4 m-t-md">
        <a href="https://www.ca.gov/lafires/help-for-you/replace-personal-documents/" class="link-grid bg-white bg-gray-50-hover cagov-external-link"><h3 class="m-a-0 font-size-20 bold">Replace documents<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></h3></a>
      </div>
      <div class="col-lg-4 m-t-md">
        <a href="https://www.ca.gov/lafires/help-for-you/rebuild-your-house/" class="link-grid bg-white bg-gray-50-hover cagov-external-link"><h3 class="m-a-0 font-size-20 bold">Rebuild your home<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></h3></a>
      </div>
      <div class="col-lg-4 m-t-md">
        <a href="https://www.ca.gov/lafires/help-for-you/get-help-in-person/" class="link-grid bg-white bg-gray-50-hover cagov-external-link"><h3 class="m-a-0 font-size-20 bold">Get help in person<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></h3></a>
      </div>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <h2>Highlights</h2>
  <div class="row">
    <div class="col-lg-6 m-t-md">
      <div class="bg-white bg-gray-50-hover px-3 px-lg-5 p-y-lg pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="m-t-md m-b">
          <a href="https://www.ca.gov/lafires/rebuilding-la/" class="color-p2 link-before text-left no-underline d-block cagov-external-link">Track rebuilding progress<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
        </h3>
        <p>LA County has taken steps to proactively improve permitting and inspection to prepare for the surge in demand for wildfire rebuilding.</p>
      </div>
    </div>
    <div class="col-lg-6 m-t-md">
      <div class="bg-white bg-gray-50-hover px-3 px-lg-5 p-y-lg pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="m-t-md m-b">
          <a href="https://www.ca.gov/lafires/help-for-you/health-and-safety/#Mental-health-support" class="color-p2 link-before text-left no-underline d-block cagov-external-link">Mental health support<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
        </h3>
        <p>Navigating disaster recovery can be stressful and overwhelming. Get mental and emotional support for yourself and your loved ones.</p>
      </div>
    </div>
    <div class="col-lg-6 m-t-md">
      <div class="bg-white bg-gray-50-hover px-3 px-lg-5 p-y-lg pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h2 class="m-t-md m-b">Get help now</h2>
        <h3 class="m-t-md m-b">
          <a href="https://www.ca.gov/lafires/help-for-you/" class="color-p2 link-before text-left no-underline d-block cagov-external-link">Help for you and your family<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
        </h3>
        <p>Get help with food, shelter, financial assistance, rebuilding, and more.</p>
        <h3 class="m-t-md m-b">
          <a href="https://www.ca.gov/lafires/help-for-your-business/" class="color-p2 link-before text-left no-underline d-block cagov-external-link">Help for your business<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
        </h3>
        <p>Find support and assistance for local business recovery.</p>
      </div>
    </div>
    <div class="col-lg-6 m-t-md">
      <div class="bg-white bg-gray-50-hover px-3 px-lg-5 p-y-lg pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h2 class="m-t-md m-b">Don’t know where to start?</h2>
        <p>Use our <a href="https://www.ca.gov/lafires/recovery-services-finder/" class="cagov-external-link">service finder tool<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a> to find help available to you.</p>
      </div>
    </div>
  </div>
</div>

<div class="section-understated p-y-lg">
  <div class="container">
    <h2>Stay up to date</h2>
    <div class="row">
      <div class="col-md-6 m-t-md">
        <h3 class="m-b"><a href="https://larises.org/resources/#hub" class="cagov-external-link">See LA Rises<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a></h3>
        <p>A central place to find resources, learn about recovery and rebuilding and get trusted information.</p>
      </div>
      <div class="col-md-6 m-t-md">
        <h3 class="m-b"><a href="https://www.ca.gov/lafires/track-progress/" class="cagov-external-link">Track LA’s progress<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a></h3>
        <p>Track progress on air and water safety, cleanup and debris removal, and more.</p>
      </div>
      <div class="col-md-6 m-t-md">
        <h3 class="m-b">Join the conversation</h3>
        <p><a href="https://engaged.ca.gov/" class="cagov-external-link">Sign up<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a> to tell us about your recovery experience and hear from others.</p>
      </div>
      <div class="col-md-6 m-t-md">
        <h3 class="m-b">Volunteer</h3>
        <p><a href="https://www.ca.gov/lafires/volunteer/" class="cagov-external-link">Give time or money<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a> to help people affected by the fires.</p>
      </div>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <h2>State updates</h2>
  <div class="m-b-lg">
    <h3 class="lead font-weight-700 m-b-0">
      <a href="https://www.gov.ca.gov/2026/09/17/governor-newsom-delivers-on-pledge-to-provide-new-financing-options-for-eaton-and-palisades-survivors/" class="cagov-external-link">Governor Newsom delivers on pledge to provide new financing options for Eaton and Palisades survivors<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
    </h3>
    <p>September 17, 2026</p>
    <hr class="m-y-md">
    <h3 class="lead font-weight-700 m-b-0">
      <a href="https://www.gov.ca.gov/2026/09/15/governor-newsom-signs-wildfire-recovery-package-to-strengthen-protections-and-focus-on-rebuilding-for-survivors/" class="cagov-external-link">Governor Newsom signs wildfire recovery package to strengthen protections and focus on rebuilding for survivors<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
    </h3>
    <p>September 15, 2026</p>
    <hr class="m-y-md">
    <h3 class="lead font-weight-700 m-b-0">
      <a href="https://www.gov.ca.gov/2026/08/29/governor-newsom-statement-on-compromise-to-address-wildfire-risk-support-fire-survivors-and-create-stronger-accountability/" class="cagov-external-link">Governor Newsom statement on compromise to address wildfire risk, support fire survivors, and create stronger accountability<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
    </h3>
    <p>August 29, 2026</p>
    <hr class="m-y-md">
    <h3 class="lead font-weight-700 m-b-0">
      <a href="https://www.gov.ca.gov/2026/08/04/governor-newsom-invites-president-trump-to-deliver-overdue-wildfire-recovery-funding-during-los-angeles-visit/" class="cagov-external-link">Governor Newsom invites President Trump to deliver overdue wildfire recovery funding during Los Angeles visit<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
    </h3>
    <p>August 4, 2026</p>
  </div>
  <p class="m-b-lg">
    <a href="https://www.gov.ca.gov/newsroom/" class="cagov-external-link">View all LA fires news<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>
  </p>
</div>

<div class="section-understated p-y-lg">
  <div class="container">
    <h2>Rebuild - faster</h2>
    <p>Governor Newsom <a href="https://www.gov.ca.gov/2025/01/24/heres-all-the-actions-governor-newsom-has-taken-in-response-to-the-los-angeles-fires/" class="cagov-external-link">suspended permit and review requirements<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a> under the California Environmental Quality Act (CEQA) and the California Coastal Act. This allows victims of the recent fires to restore their homes and businesses faster.</p>
    <p>The Governor <a href="https://www.gov.ca.gov/2025/01/23/governor-newsom-signs-2-5-billion-bipartisan-relief-package-to-help-los-angeles-recover-and-rebuild-faster-from-firestorm/" class="cagov-external-link">signed legislation<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a> providing $2.5 billion in immediate disaster relief. This supports response and recovery efforts.</p>
    <p>See all the <a href="https://www.gov.ca.gov/2025/01/24/heres-all-the-actions-governor-newsom-has-taken-in-response-to-the-los-angeles-fires/" class="cagov-external-link">Governor's actions in response to the fires<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>.</p>
    <h2 class="m-t-lg">Major Disaster Declaration</h2>
    <p>On January 8, California got a <a href="https://www.fema.gov/press-release/20250109/president-joseph-r-biden-jr-approves-major-disaster-declaration-california" class="cagov-external-link">Major Disaster Declaration<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a> for the California wildfires. This lets federal agencies give aid and resources for recovery in the affected areas.</p>
    <p>Through this declaration from President Biden, California gets assistance for <a href="https://www.fema.gov/press-release/20250109/president-joseph-r-biden-jr-approves-major-disaster-declaration-california" class="cagov-external-link">individuals<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>, the <a href="https://www.fema.gov/press-release/20250109/president-joseph-r-biden-jr-approves-major-disaster-declaration-california" class="cagov-external-link">public<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>, and <a href="https://www.fema.gov/press-release/20250109/president-joseph-r-biden-jr-approves-major-disaster-declaration-california" class="cagov-external-link">small businesses<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a>.</p>
  </div>
</div>
{% endblock %}
