{% extends "base.html" %}
{% block title %}Maternal health resources{% endblock %}
{% block main %}
<div class="section-understated lineart bg-s1" style="background: url('{{ url_for('static', filename='images/lineart/get-help-lineart.svg') }}') no-repeat right / auto;">
  <div class="container p-y-md">
    <div class="row">
      <div class="col-xl-8">
<nav aria-label="You are here" class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/support/">Get help</a></li>
    <li class="active">Maternal health resources</li>
  </ol>
</nav>
<h1 class="m-t-0 color-p2-darker">Maternal health resources</h1>
        <p class="m-b-0">
          <a href="/immigration/" class="d-block m-b-sm">Immigration and families</a>
          <a href="/support/maternal-health-resources.html" class="d-block">Maternal health resources</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container p-y-lg">
  <p class="lead">Get access to comprehensive maternal health information and support services. Learn how to navigate pregnancy, childbirth, and the postpartum period with better access to care, mental health resources, and essential programs.</p>
  <p>The <a href="https://osg.ca.gov/" class="cagov-external-link">Office of the California Surgeon General<span class="external-link-icon" aria-hidden="true"></span><span class="sr-only"> (external link)</span></a> created this list of helpful services.</p>

  <h2>Financial assistance</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">CalWORKs</h3>
        <p class="font-size-14 gray-700 m-b-sm">Department of Social Services</p>
        <p class="m-b text-left">This program gives cash aid and services to eligible California families in need.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Child Support</h3>
        <p class="font-size-14 gray-700 m-b-sm">Department of Child Support Services</p>
        <p class="m-b text-left">Child support services to provide children with money towards living and medical expenses</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Low-Income Home Energy Assistance Program</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Community Services and Development</p>
        <p class="m-b text-left">This program helps low-income families with their home energy bills.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Low-Income Weatherization Program</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Community Services and Development</p>
        <p class="m-b text-left">Program provides solar photovoltaic (PV) systems to reduce energy costs</p>
      </div>
    </div>
  </div>

  <h2>Food assistance</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">CalFresh</h3>
        <p class="font-size-14 gray-700 m-b-sm">Department of Social Services</p>
        <p class="m-b text-left">This program provides food assistance to people who meet the income requirements.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Women, Infants, and Children (WIC)</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Public Health</p>
        <p class="m-b text-left">WIC helps families get healthy food. It also provides info on nutrition, breastfeeding, and referrals.</p>
      </div>
    </div>
  </div>

  <h2>Health care</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Medi-Cal</h3>
        <p class="font-size-14 gray-700 m-b-sm">Department of Health Care Services</p>
        <p class="m-b text-left">Medi-Cal offers free or low-cost health coverage for eligible Californians.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Abortion access</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Public Health</p>
        <p class="m-b text-left">Find current and accurate information about abortion access in California.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Comprehensive Perinatal Services Program (CPSP)</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Public Health</p>
        <p class="m-b text-left">Services for pregnant people from conception through 60 days postpartum (Medi-Cal benefit).</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Black Infant Health Program (BIH)</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Public Health</p>
        <p class="m-b text-left">An equity program to support pregnant and postpartum Black mothers.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Early Start</h3>
        <p class="font-size-14 gray-700 m-b-sm">Department of Developmental Services</p>
        <p class="m-b text-left">Intervention services for infants and toddlers with developmental delays or at risk for having a developmental disability.</p>
      </div>
    </div>
  </div>

  <h2>Mental health support</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">Maternal Mental Health</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Public Health</p>
        <p class="m-b text-left">Learn about maternal mental health support and resources, including maternal suicide prevention.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">BrightLife Kids</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Public Health</p>
        <p class="m-b text-left">Personalized behavioral health coaching for parents, caregivers, and children 0–12.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">CalHOPE</h3>
        <p class="font-size-14 gray-700 m-b-sm">Department of Health Care Services</p>
        <p class="m-b text-left">Free peer counseling when people feel stressed, anxious, depressed, or worried.</p>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-white bg-gray-50-hover text-center p-x-md p-b-md pos-rel h-100 brd-solid-1 brd-gray-200 transform-scale-1_05--hover transition-0_3 rounded">
        <h3 class="h5 m-b">California Home Visiting Program (CHVP)</h3>
        <p class="font-size-14 gray-700 m-b-sm">California Department of Public Health</p>
        <p class="m-b text-left">For overburdened families who are at risk for Adverse Childhood Experiences (ACEs).</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
